### Je höher die Bewertung von „hoch/laut/abwechslungsreich/“, desto höher die Bewertung von „gewagt/temperamentvoll/unsensibel/modern/unaufrichtig“
H8: Je höher die Bewertung von „tief/leise/monoton/“, desto höher die Bewertung von „bodenständig/ruhig/einfühlsam/traditionell/aufrichtig“m

In [1]:
import pandas as pd 
import os

import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

/Users/lilimatic/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
path = 'data_perzeptionstest-vocal-branding_2024-02-10_11-56.csv'

df = pd.read_csv(path,sep=';',encoding='latin-1')

df =df.drop(columns=['CASE','SERIAL','REF','QUESTNNR','MODE','MAILSENT','LASTDATA','STARTED']+['TIME00'+str(x) for x in range(1,10)]+['TIME0'+str(x) for x in range(10,18)])

df = df.dropna()

spalten = []

for x in df.loc[0]:
    spalten.append(x)
    
#df.drop(df.index[0])

df.columns = spalten

df = df.reset_index()

df = df.drop(df.index[0])

In [3]:
import os

In [4]:
os.getcwd()

'/Users/lilimatic/constanze'

In [5]:
sprecher = []

for x in range(1,8):
    for y in range(1,3):
        sprecher.append(f'S{x}.{y}')

In [ ]:
for s in sprecher:
    print(f'Sprecher {s}')
    A1 = f'Polaritätsprofil {s}: leise/laut'
    B1 = [f'Polaritätsprofil {s}: aufrichtig/unaufrichtig',f'Polaritätsprofil {s}: modern/traditionell',
     f'Polaritätsprofil {s}: gewagt/bodenständig', f'Polaritätsprofil {s}: ruhig/temperamentvoll',f'Polaritätsprofil {s}: einfühlsam/unsensibel'] 
    for i in B1:
        contingency = pd.crosstab(pd.to_numeric(df[A1]),pd.to_numeric(df[i]), margins=True)
        display(contingency)
        #contingency.to_csv('Tabelle_'+A1+'_'+i+'.csv')
        rel = round(pd.crosstab(df[A1],df[i],normalize='all',margins=True)*100,2)
        display(rel)

Sprecher S1.1

Polaritätsprofil S1.1: aufrichtig/unaufrichtig  1   2   3  4  5  All
Polaritätsprofil S1.1: leise/laut
2                                               0   1   1  2  0    4
3                                               3  17   9  4  0   33
4                                               2   7   5  1  2   17
5                                               1   1   2  0  0    4
All                                             6  26  17  7  2   58

Polaritätsprofil S1.1: aufrichtig/unaufrichtig,1,2,3,4,5,All
Polaritätsprofil S1.1: leise/laut,,,,,,
2,0.00,1.72,1.72,3.45,0.00,6.90
3,5.17,29.31,15.52,6.90,0.00,56.90
4,3.45,12.07,8.62,1.72,3.45,29.31
5,1.72,1.72,3.45,0.00,0.00,6.90
All,10.34,44.83,29.31,12.07,3.45,100.00

Polaritätsprofil S1.1: modern/traditionell   1   2   3  4  5  All
Polaritätsprofil S1.1: leise/laut
2                                            1   1   1  1  0    4
3                                            9  13   6  3  2   33
4                                            5   6   3  3  0   17
5                                            3   1   0  0  0    4
All                                         18  21  10  7  2   58

Polaritätsprofil S1.1: modern/traditionell,1,2,3,4,5,All
Polaritätsprofil S1.1: leise/laut,,,,,,
2,1.72,1.72,1.72,1.72,0.00,6.90
3,15.52,22.41,10.34,5.17,3.45,56.90
4,8.62,10.34,5.17,5.17,0.00,29.31
5,5.17,1.72,0.00,0.00,0.00,6.90
All,31.03,36.21,17.24,12.07,3.45,100.00

Polaritätsprofil S1.1: gewagt/bodenständig  2   3   4   5  All
Polaritätsprofil S1.1: leise/laut
2                                           0   3   1   0    4
3                                           3   8  15   7   33
4                                           1   4   9   3   17
5                                           1   0   1   2    4
All                                         5  15  26  12   58

Polaritätsprofil S1.1: gewagt/bodenständig     2      3      4      5     All
Polaritätsprofil S1.1: leise/laut
2                                           0.00   5.17   1.72   0.00    6.90
3                                           5.17  13.79  25.86  12.07   56.90
4                                           1.72   6.90  15.52   5.17   29.31
5                                           1.72   0.00   1.72   3.45    6.90
All                                         8.62  25.86  44.83  20.69  100.00

Polaritätsprofil S1.1: ruhig/temperamentvoll  1   2   3   4  5  All
Polaritätsprofil S1.1: leise/laut
2                                             1   2   1   0  0    4
3                                             2  11   9  11  0   33
4                                             0   7   6   3  1   17
5                                             1   0   2   0  1    4
All                                           4  20  18  14  2   58

Polaritätsprofil S1.1: ruhig/temperamentvoll,1,2,3,4,5,All
Polaritätsprofil S1.1: leise/laut,,,,,,
2,1.72,3.45,1.72,0.00,0.00,6.90
3,3.45,18.97,15.52,18.97,0.00,56.90
4,0.00,12.07,10.34,5.17,1.72,29.31
5,1.72,0.00,3.45,0.00,1.72,6.90
All,6.90,34.48,31.03,24.14,3.45,100.00

Polaritätsprofil S1.1: einfühlsam/unsensibel  1   2   3  4  5  All
Polaritätsprofil S1.1: leise/laut
2                                             0   2   2  0  0    4
3                                             3  19   7  3  1   33
4                                             1  10   4  2  0   17
5                                             0   2   1  0  1    4
All                                           4  33  14  5  2   58

Polaritätsprofil S1.1: einfühlsam/unsensibel,1,2,3,4,5,All
Polaritätsprofil S1.1: leise/laut,,,,,,
2,0.00,3.45,3.45,0.00,0.00,6.90
3,5.17,32.76,12.07,5.17,1.72,56.90
4,1.72,17.24,6.90,3.45,0.00,29.31
5,0.00,3.45,1.72,0.00,1.72,6.90
All,6.90,56.90,24.14,8.62,3.45,100.00

Sprecher S1.2

Polaritätsprofil S1.2: aufrichtig/unaufrichtig  1  2   3   4   5  All
Polaritätsprofil S1.2: leise/laut
2                                               0  0   1   2   0    3
3                                               0  2   3   5   4   14
4                                               1  3   7  15   4   30
5                                               1  0   2   2   6   11
All                                             2  5  13  24  14   58

Polaritätsprofil S1.2: aufrichtig/unaufrichtig,1,2,3,4,5,All
Polaritätsprofil S1.2: leise/laut,,,,,,
2,0.00,0.00,1.72,3.45,0.00,5.17
3,0.00,3.45,5.17,8.62,6.90,24.14
4,1.72,5.17,12.07,25.86,6.90,51.72
5,1.72,0.00,3.45,3.45,10.34,18.97
All,3.45,8.62,22.41,41.38,24.14,100.00

Polaritätsprofil S1.2: modern/traditionell   1   2   3  4  5  All
Polaritätsprofil S1.2: leise/laut
2                                            1   1   1  0  0    3
3                                            2   5   5  1  1   14
4                                            3  14   9  4  0   30
5                                            5   3   3  0  0   11
All                                         11  23  18  5  1   58

Polaritätsprofil S1.2: modern/traditionell,1,2,3,4,5,All
Polaritätsprofil S1.2: leise/laut,,,,,,
2,1.72,1.72,1.72,0.00,0.00,5.17
3,3.45,8.62,8.62,1.72,1.72,24.14
4,5.17,24.14,15.52,6.90,0.00,51.72
5,8.62,5.17,5.17,0.00,0.00,18.97
All,18.97,39.66,31.03,8.62,1.72,100.00

Polaritätsprofil S1.2: gewagt/bodenständig   1   2   3  4  5  All
Polaritätsprofil S1.2: leise/laut
2                                            0   2   0  1  0    3
3                                            1   6   4  2  1   14
4                                            4  13  10  3  0   30
5                                            6   3   1  0  1   11
All                                         11  24  15  6  2   58

Polaritätsprofil S1.2: gewagt/bodenständig,1,2,3,4,5,All
Polaritätsprofil S1.2: leise/laut,,,,,,
2,0.00,3.45,0.00,1.72,0.00,5.17
3,1.72,10.34,6.90,3.45,1.72,24.14
4,6.90,22.41,17.24,5.17,0.00,51.72
5,10.34,5.17,1.72,0.00,1.72,18.97
All,18.97,41.38,25.86,10.34,3.45,100.00

Polaritätsprofil S1.2: ruhig/temperamentvoll  1  2   3   4  5  All
Polaritätsprofil S1.2: leise/laut
2                                             0  0   1   2  0    3
3                                             1  0   4   8  1   14
4                                             0  2   7  18  3   30
5                                             0  0   1   5  5   11
All                                           1  2  13  33  9   58

Polaritätsprofil S1.2: ruhig/temperamentvoll,1,2,3,4,5,All
Polaritätsprofil S1.2: leise/laut,,,,,,
2,0.00,0.00,1.72,3.45,0.00,5.17
3,1.72,0.00,6.90,13.79,1.72,24.14
4,0.00,3.45,12.07,31.03,5.17,51.72
5,0.00,0.00,1.72,8.62,8.62,18.97
All,1.72,3.45,22.41,56.90,15.52,100.00

Polaritätsprofil S1.2: einfühlsam/unsensibel  3   4   5  All
Polaritätsprofil S1.2: leise/laut
2                                             0   2   1    3
3                                             5   6   3   14
4                                             4  16  10   30
5                                             0   3   8   11
All                                           9  27  22   58

Polaritätsprofil S1.2: einfühlsam/unsensibel      3      4      5     All
Polaritätsprofil S1.2: leise/laut
2                                              0.00   3.45   1.72    5.17
3                                              8.62  10.34   5.17   24.14
4                                              6.90  27.59  17.24   51.72
5                                              0.00   5.17  13.79   18.97
All                                           15.52  46.55  37.93  100.00

Sprecher S2.1

Polaritätsprofil S2.1: aufrichtig/unaufrichtig   1   2  3  4  5  All
Polaritätsprofil S2.1: leise/laut
1                                                2   2  0  0  0    4
2                                               12   9  3  1  2   27
3                                                9  12  1  0  0   22
4                                                2   1  0  0  0    3
5                                                1   1  0  0  0    2
All                                             26  25  4  1  2   58

Polaritätsprofil S2.1: aufrichtig/unaufrichtig,1,2,3,4,5,All
Polaritätsprofil S2.1: leise/laut,,,,,,
1,3.45,3.45,0.00,0.00,0.00,6.90
2,20.69,15.52,5.17,1.72,3.45,46.55
3,15.52,20.69,1.72,0.00,0.00,37.93
4,3.45,1.72,0.00,0.00,0.00,5.17
5,1.72,1.72,0.00,0.00,0.00,3.45
All,44.83,43.10,6.90,1.72,3.45,100.00

Polaritätsprofil S2.1: modern/traditionell  1   2   3   4  5  All
Polaritätsprofil S2.1: leise/laut
1                                           2   0   0   0  2    4
2                                           1   7   8   9  2   27
3                                           2   7   9   4  0   22
4                                           0   1   0   0  2    3
5                                           0   0   1   0  1    2
All                                         5  15  18  13  7   58

Polaritätsprofil S2.1: modern/traditionell,1,2,3,4,5,All
Polaritätsprofil S2.1: leise/laut,,,,,,
1,3.45,0.00,0.00,0.00,3.45,6.90
2,1.72,12.07,13.79,15.52,3.45,46.55
3,3.45,12.07,15.52,6.90,0.00,37.93
4,0.00,1.72,0.00,0.00,3.45,5.17
5,0.00,0.00,1.72,0.00,1.72,3.45
All,8.62,25.86,31.03,22.41,12.07,100.00

Polaritätsprofil S2.1: gewagt/bodenständig  2  3   4   5  All
Polaritätsprofil S2.1: leise/laut
1                                           0  0   1   3    4
2                                           4  2  13   8   27
3                                           0  6   9   7   22
4                                           0  0   1   2    3
5                                           0  0   0   2    2
All                                         4  8  24  22   58

Polaritätsprofil S2.1: gewagt/bodenständig    2      3      4      5     All
Polaritätsprofil S2.1: leise/laut
1                                           0.0   0.00   1.72   5.17    6.90
2                                           6.9   3.45  22.41  13.79   46.55
3                                           0.0  10.34  15.52  12.07   37.93
4                                           0.0   0.00   1.72   3.45    5.17
5                                           0.0   0.00   0.00   3.45    3.45
All                                         6.9  13.79  41.38  37.93  100.00

Polaritätsprofil S2.1: ruhig/temperamentvoll   1   2  3  4  All
Polaritätsprofil S2.1: leise/laut
1                                              4   0  0  0    4
2                                             13   8  2  4   27
3                                              7   8  6  1   22
4                                              2   1  0  0    3
5                                              1   0  1  0    2
All                                           27  17  9  5   58

Polaritätsprofil S2.1: ruhig/temperamentvoll,1,2,3,4,All
Polaritätsprofil S2.1: leise/laut,,,,,
1,6.90,0.00,0.00,0.00,6.90
2,22.41,13.79,3.45,6.90,46.55
3,12.07,13.79,10.34,1.72,37.93
4,3.45,1.72,0.00,0.00,5.17
5,1.72,0.00,1.72,0.00,3.45
All,46.55,29.31,15.52,8.62,100.00

Polaritätsprofil S2.1: einfühlsam/unsensibel   1   2  3  4  All
Polaritätsprofil S2.1: leise/laut
1                                              3   1  0  0    4
2                                             10  13  3  1   27
3                                              6  16  0  0   22
4                                              0   3  0  0    3
5                                              0   0  1  1    2
All                                           19  33  4  2   58

Polaritätsprofil S2.1: einfühlsam/unsensibel      1      2     3     4     All
Polaritätsprofil S2.1: leise/laut
1                                              5.17   1.72  0.00  0.00    6.90
2                                             17.24  22.41  5.17  1.72   46.55
3                                             10.34  27.59  0.00  0.00   37.93
4                                              0.00   5.17  0.00  0.00    5.17
5                                              0.00   0.00  1.72  1.72    3.45
All                                           32.76  56.90  6.90  3.45  100.00

Sprecher S2.2

Polaritätsprofil S2.2: aufrichtig/unaufrichtig  1   2   3   4  5  All
Polaritätsprofil S2.2: leise/laut
1                                               1   0   0   0  0    1
2                                               0   4   2   1  0    7
3                                               4  11   8   6  0   29
4                                               4   8   4   3  0   19
5                                               0   1   0   0  1    2
All                                             9  24  14  10  1   58

Polaritätsprofil S2.2: aufrichtig/unaufrichtig,1,2,3,4,5,All
Polaritätsprofil S2.2: leise/laut,,,,,,
1,1.72,0.00,0.00,0.00,0.00,1.72
2,0.00,6.90,3.45,1.72,0.00,12.07
3,6.90,18.97,13.79,10.34,0.00,50.00
4,6.90,13.79,6.90,5.17,0.00,32.76
5,0.00,1.72,0.00,0.00,1.72,3.45
All,15.52,41.38,24.14,17.24,1.72,100.00

Polaritätsprofil S2.2: modern/traditionell  1  2   3   4  5  All
Polaritätsprofil S2.2: leise/laut
1                                           0  0   0   0  1    1
2                                           0  1   0   5  1    7
3                                           1  3  14  10  1   29
4                                           0  4   4   9  2   19
5                                           0  1   0   0  1    2
All                                         1  9  18  24  6   58

Polaritätsprofil S2.2: modern/traditionell,1,2,3,4,5,All
Polaritätsprofil S2.2: leise/laut,,,,,,
1,0.00,0.00,0.00,0.00,1.72,1.72
2,0.00,1.72,0.00,8.62,1.72,12.07
3,1.72,5.17,24.14,17.24,1.72,50.00
4,0.00,6.90,6.90,15.52,3.45,32.76
5,0.00,1.72,0.00,0.00,1.72,3.45
All,1.72,15.52,31.03,41.38,10.34,100.00

Polaritätsprofil S2.2: gewagt/bodenständig  2   3   4   5  All
Polaritätsprofil S2.2: leise/laut
1                                           0   0   0   1    1
2                                           0   3   3   1    7
3                                           2  10  12   5   29
4                                           4   5   6   4   19
5                                           0   0   1   1    2
All                                         6  18  22  12   58

Polaritätsprofil S2.2: gewagt/bodenständig      2      3      4      5     All
Polaritätsprofil S2.2: leise/laut
1                                            0.00   0.00   0.00   1.72    1.72
2                                            0.00   5.17   5.17   1.72   12.07
3                                            3.45  17.24  20.69   8.62   50.00
4                                            6.90   8.62  10.34   6.90   32.76
5                                            0.00   0.00   1.72   1.72    3.45
All                                         10.34  31.03  37.93  20.69  100.00

Polaritätsprofil S2.2: ruhig/temperamentvoll  1   2   3   4  5  All
Polaritätsprofil S2.2: leise/laut
1                                             1   0   0   0  0    1
2                                             1   5   1   0  0    7
3                                             2  11   9   6  1   29
4                                             1   5   2  11  0   19
5                                             1   1   0   0  0    2
All                                           6  22  12  17  1   58