### Je höher die Bewertung von „hoch/laut/abwechslungsreich/“, desto höher die Bewertung von „gewagt/temperamentvoll/unsensibel/modern/unaufrichtig“
H8: Je höher die Bewertung von „tief/leise/monoton/“, desto höher die Bewertung von „bodenständig/ruhig/einfühlsam/traditionell/aufrichtig“m

# Cramer's V

In [1]:
import pandas as pd 
import os

import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
import scipy.stats as stats 

#import seaborn as sns
import researchpy as rp

import openpyxl

/Users/lilimatic/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
os.chdir('/Users/lilimatic/constanze/')

In [3]:
path = 'data_perzeptionstest-vocal-branding_2024-02-10_11-56.csv'

df = pd.read_csv(path,sep=';',encoding='latin-1')

df =df.drop(columns=['CASE','SERIAL','REF','QUESTNNR','MODE','MAILSENT','LASTDATA','STARTED']+['TIME00'+str(x) for x in range(1,10)]+['TIME0'+str(x) for x in range(10,18)])

df = df.dropna()

spalten = []

for x in df.loc[0]:
    spalten.append(x)
    
#df.drop(df.index[0])

df.columns = spalten

df = df.reset_index()

df = df.drop(df.index[0])

In [4]:
df.to_csv('Datensatz.csv')

In [4]:
sprecher = []

for x in range(1,8):
    for y in range(1,3):
        sprecher.append(f'S{x}.{y}')

In [5]:
Res_Tabellen = []
X_Tabellen = []
Namen = []
for s in sprecher:
    #print(f'Sprecher {s}')
    A1 = f'Polaritätsprofil {s}: monoton/abwechslungsreich'
    B1 = [f'Polaritätsprofil {s}: aufrichtig/unaufrichtig',f'Polaritätsprofil {s}: modern/traditionell',
     f'Polaritätsprofil {s}: gewagt/bodenständig', f'Polaritätsprofil {s}: ruhig/temperamentvoll',f'Polaritätsprofil {s}: einfühlsam/unsensibel']
    for i in B1:
        crosstab, res = rp.crosstab(df[A1], df[i],test = "chi-square")
        crosstab_rel = rp.crosstab(df[A1], df[i],prop= "cell")
        name = './/'+A1 + ' und ' + i + '.xlsx'
        if (res['results'][1] - 0.05) < 1e-7:
            print('\033[1m' + A1+' und '+i)
            Namen.append(A1+' und '+i)
            display(res)
            crosstab = crosstab.join(crosstab_rel, rsuffix=' in %')
            Res_Tabellen.append(res)
            X_Tabellen.append(crosstab)
            #display(crosstab)

Polaritätsprofil S1.1: monoton/abwechslungsreich und Polaritätsprofil S1.1: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   42.2352
1                     p-value =    0.0004
2                  Cramer's V =    0.4267

Polaritätsprofil S1.1: monoton/abwechslungsreich und Polaritätsprofil S1.1: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   26.8064
1                     p-value =    0.0437
2                  Cramer's V =    0.3399

Polaritätsprofil S1.2: monoton/abwechslungsreich und Polaritätsprofil S1.2: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   31.3634
1                     p-value =    0.0121
2                  Cramer's V =    0.3677

Polaritätsprofil S1.2: monoton/abwechslungsreich und Polaritätsprofil S1.2: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   30.1005
1                     p-value =    0.0175
2                  Cramer's V =    0.3602

Polaritätsprofil S1.2: monoton/abwechslungsreich und Polaritätsprofil S1.2: gewagt/bodenständig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   39.3499
1                     p-value =    0.0010
2                  Cramer's V =    0.4118

Polaritätsprofil S1.2: monoton/abwechslungsreich und Polaritätsprofil S1.2: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   28.4700
1                     p-value =    0.0278
2                  Cramer's V =    0.3503

Polaritätsprofil S2.2: monoton/abwechslungsreich und Polaritätsprofil S2.2: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   29.7464
1                     p-value =    0.0194
2                  Cramer's V =    0.3581

Polaritätsprofil S2.2: monoton/abwechslungsreich und Polaritätsprofil S2.2: gewagt/bodenständig

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   26.3104
1                     p-value =    0.0097
2                  Cramer's V =    0.3889

Polaritätsprofil S2.2: monoton/abwechslungsreich und Polaritätsprofil S2.2: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   42.8758
1                     p-value =    0.0003
2                  Cramer's V =    0.4299

Polaritätsprofil S2.2: monoton/abwechslungsreich und Polaritätsprofil S2.2: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   34.1532
1                     p-value =    0.0006
2                  Cramer's V =    0.4430

Polaritätsprofil S3.1: monoton/abwechslungsreich und Polaritätsprofil S3.1: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   23.0689
1                     p-value =    0.0271
2                  Cramer's V =    0.3641

Polaritätsprofil S3.1: monoton/abwechslungsreich und Polaritätsprofil S3.1: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   26.2330
1                     p-value =    0.0099
2                  Cramer's V =    0.3883

Polaritätsprofil S3.2: monoton/abwechslungsreich und Polaritätsprofil S3.2: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   38.5306
1                     p-value =    0.0013
2                  Cramer's V =    0.4075

Polaritätsprofil S3.2: monoton/abwechslungsreich und Polaritätsprofil S3.2: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   39.4738
1                     p-value =    0.0009
2                  Cramer's V =    0.4125

Polaritätsprofil S3.2: monoton/abwechslungsreich und Polaritätsprofil S3.2: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   53.8638
1                     p-value =    0.0000
2                  Cramer's V =    0.4818

Polaritätsprofil S4.1: monoton/abwechslungsreich und Polaritätsprofil S4.1: gewagt/bodenständig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   31.3863
1                     p-value =    0.0120
2                  Cramer's V =    0.3678

Polaritätsprofil S4.1: monoton/abwechslungsreich und Polaritätsprofil S4.1: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   23.8975
1                     p-value =    0.0210
2                  Cramer's V =    0.3706

Polaritätsprofil S4.2: monoton/abwechslungsreich und Polaritätsprofil S4.2: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   50.4828
1                     p-value =    0.0000
2                  Cramer's V =    0.4665

Polaritätsprofil S4.2: monoton/abwechslungsreich und Polaritätsprofil S4.2: gewagt/bodenständig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   38.1039
1                     p-value =    0.0015
2                  Cramer's V =    0.4053

Polaritätsprofil S4.2: monoton/abwechslungsreich und Polaritätsprofil S4.2: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   26.7013
1                     p-value =    0.0449
2                  Cramer's V =    0.3393

Polaritätsprofil S4.2: monoton/abwechslungsreich und Polaritätsprofil S4.2: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   44.1397
1                     p-value =    0.0002
2                  Cramer's V =    0.4362

Polaritätsprofil S5.1: monoton/abwechslungsreich und Polaritätsprofil S5.1: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   36.5752
1                     p-value =    0.0024
2                  Cramer's V =    0.3971

Polaritätsprofil S5.1: monoton/abwechslungsreich und Polaritätsprofil S5.1: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   69.7722
1                     p-value =    0.0000
2                  Cramer's V =    0.6332

Polaritätsprofil S5.2: monoton/abwechslungsreich und Polaritätsprofil S5.2: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   43.3661
1                     p-value =    0.0002
2                  Cramer's V =    0.4323

Polaritätsprofil S5.2: monoton/abwechslungsreich und Polaritätsprofil S5.2: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   26.7084
1                     p-value =    0.0448
2                  Cramer's V =    0.3393

Polaritätsprofil S5.2: monoton/abwechslungsreich und Polaritätsprofil S5.2: gewagt/bodenständig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   37.8246
1                     p-value =    0.0016
2                  Cramer's V =    0.4038

Polaritätsprofil S5.2: monoton/abwechslungsreich und Polaritätsprofil S5.2: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   38.9008
1                     p-value =    0.0001
2                  Cramer's V =    0.4728

Polaritätsprofil S5.2: monoton/abwechslungsreich und Polaritätsprofil S5.2: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   33.5319
1                     p-value =    0.0063
2                  Cramer's V =    0.3802

Polaritätsprofil S6.1: monoton/abwechslungsreich und Polaritätsprofil S6.1: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   32.0376
1                     p-value =    0.0099
2                  Cramer's V =    0.3716

Polaritätsprofil S6.1: monoton/abwechslungsreich und Polaritätsprofil S6.1: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   40.8002
1                     p-value =    0.0006
2                  Cramer's V =    0.4194

Polaritätsprofil S6.1: monoton/abwechslungsreich und Polaritätsprofil S6.1: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   32.8034
1                     p-value =    0.0078
2                  Cramer's V =    0.3760

Polaritätsprofil S6.2: monoton/abwechslungsreich und Polaritätsprofil S6.2: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   29.4984
1                     p-value =    0.0208
2                  Cramer's V =    0.3566

Polaritätsprofil S6.2: monoton/abwechslungsreich und Polaritätsprofil S6.2: gewagt/bodenständig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   32.3524
1                     p-value =    0.0090
2                  Cramer's V =    0.3734

Polaritätsprofil S6.2: monoton/abwechslungsreich und Polaritätsprofil S6.2: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   33.6788
1                     p-value =    0.0060
2                  Cramer's V =    0.3810

Polaritätsprofil S6.2: monoton/abwechslungsreich und Polaritätsprofil S6.2: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   42.0752
1                     p-value =    0.0004
2                  Cramer's V =    0.4259

Polaritätsprofil S7.1: monoton/abwechslungsreich und Polaritätsprofil S7.1: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   27.2516
1                     p-value =    0.0388
2                  Cramer's V =    0.3427

Polaritätsprofil S7.2: monoton/abwechslungsreich und Polaritätsprofil S7.2: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   28.2130
1                     p-value =    0.0298
2                  Cramer's V =    0.3487

Polaritätsprofil S7.2: monoton/abwechslungsreich und Polaritätsprofil S7.2: gewagt/bodenständig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   49.7442
1                     p-value =    0.0000
2                  Cramer's V =    0.4630

Polaritätsprofil S7.2: monoton/abwechslungsreich und Polaritätsprofil S7.2: ruhig/temperamentvoll

                Chi-square test  results
0  Pearson Chi-square ( 8.0) =   16.7904
1                    p-value =    0.0324
2                 Cramer's V =    0.3805

In [6]:
NewNames = [n.replace('/',' bis ') for n in Namen]

In [7]:
for x,z in zip(Res_Tabellen,NewNames):
    x.to_excel('./Tabellen/results/'+z+'.xlsx', sheet_name='Sheet_name_1')

<ipython-input-7-0631a7824188>:2: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.7' currently installed).
  x.to_excel('./Tabellen/results/'+z+'.xlsx', sheet_name='Sheet_name_1')

In [8]:
for x,z in zip(X_Tabellen,NewNames):
    x.to_excel('./Tabellen/crosstab/'+str(z)+'.xlsx', sheet_name='Sheet_name_1')

<ipython-input-8-eaaace8b6b58>:2: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.7' currently installed).
  x.to_excel('./Tabellen/crosstab/'+str(z)+'.xlsx', sheet_name='Sheet_name_1')