### Je höher die Bewertung von „hoch/laut/abwechslungsreich/“, desto höher die Bewertung von „gewagt/temperamentvoll/unsensibel/modern/unaufrichtig“
H8: Je höher die Bewertung von „tief/leise/monoton/“, desto höher die Bewertung von „bodenständig/ruhig/einfühlsam/traditionell/aufrichtig“m

# Cramer's V

In [1]:
import pandas as pd 
import os

import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
import scipy.stats as stats 

#import seaborn as sns
import researchpy as rp

import openpyxl

/Users/lilimatic/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
os.getcwd()

'/Users/lilimatic/constanze'

In [3]:
path = 'data_perzeptionstest-vocal-branding_2024-02-10_11-56.csv'

df = pd.read_csv(path,sep=';',encoding='latin-1')

df =df.drop(columns=['CASE','SERIAL','REF','QUESTNNR','MODE','MAILSENT','LASTDATA','STARTED']+['TIME00'+str(x) for x in range(1,10)]+['TIME0'+str(x) for x in range(10,18)])

df = df.dropna()

spalten = []

for x in df.loc[0]:
    spalten.append(x)
    
#df.drop(df.index[0])

df.columns = spalten

df = df.reset_index()

df = df.drop(df.index[0])

In [4]:
sprecher = []

for x in range(1,8):
    for y in range(1,3):
        sprecher.append(f'S{x}.{y}')

In [5]:
Res_Tabellen = []
X_Tabellen = []
Namen = []
for s in sprecher:
    #print(f'Sprecher {s}')
    A1 = f'Polaritätsprofil {s}: langsam/schnell'
    B1 = [f'Polaritätsprofil {s}: aufrichtig/unaufrichtig',f'Polaritätsprofil {s}: modern/traditionell',
     f'Polaritätsprofil {s}: gewagt/bodenständig', f'Polaritätsprofil {s}: ruhig/temperamentvoll',f'Polaritätsprofil {s}: einfühlsam/unsensibel']
    
    
    A1 = f'Polaritätsprofil {s}: leise/laut'
    B1 = [f'Polaritätsprofil {s}: aufrichtig/unaufrichtig',f'Polaritätsprofil {s}: modern/traditionell',
     f'Polaritätsprofil {s}: gewagt/bodenständig', f'Polaritätsprofil {s}: ruhig/temperamentvoll',f'Polaritätsprofil {s}: einfühlsam/unsensibel'] 
    for i in B1:
        crosstab, res = rp.crosstab(df[A1], df[i],test = "chi-square")
        crosstab_rel = rp.crosstab(df[A1], df[i],prop= "cell")
        name = './/'+A1 + ' und ' + i + '.xlsx'
        if (res['results'][1] - 0.05) < 1e-7:
            print('\033[1m' + A1+' und '+i)
            Namen.append(A1+' und '+i)
            display(res)
            crosstab = crosstab.join(crosstab_rel, rsuffix=' in %')
            Res_Tabellen.append(res)
            X_Tabellen.append(crosstab)
            #display(crosstab)

Polaritätsprofil S2.1: leise/laut und Polaritätsprofil S2.1: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   35.5027
1                     p-value =    0.0034
2                  Cramer's V =    0.3912

Polaritätsprofil S2.1: leise/laut und Polaritätsprofil S2.1: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   29.9921
1                     p-value =    0.0028
2                  Cramer's V =    0.4152

Polaritätsprofil S2.2: leise/laut und Polaritätsprofil S2.2: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   37.1576
1                     p-value =    0.0020
2                  Cramer's V =    0.4002

Polaritätsprofil S2.2: leise/laut und Polaritätsprofil S2.2: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   28.0966
1                     p-value =    0.0308
2                  Cramer's V =    0.3480

Polaritätsprofil S3.1: leise/laut und Polaritätsprofil S3.1: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   30.1457
1                     p-value =    0.0173
2                  Cramer's V =    0.3605

Polaritätsprofil S3.1: leise/laut und Polaritätsprofil S3.1: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   29.9627
1                     p-value =    0.0182
2                  Cramer's V =    0.3594

Polaritätsprofil S3.2: leise/laut und Polaritätsprofil S3.2: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   44.2426
1                     p-value =    0.0002
2                  Cramer's V =    0.4367

Polaritätsprofil S3.2: leise/laut und Polaritätsprofil S3.2: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   45.9072
1                     p-value =    0.0001
2                  Cramer's V =    0.4448

Polaritätsprofil S3.2: leise/laut und Polaritätsprofil S3.2: gewagt/bodenständig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   35.0321
1                     p-value =    0.0039
2                  Cramer's V =    0.3886

Polaritätsprofil S3.2: leise/laut und Polaritätsprofil S3.2: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   41.4257
1                     p-value =    0.0005
2                  Cramer's V =    0.4226

Polaritätsprofil S3.2: leise/laut und Polaritätsprofil S3.2: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   41.8025
1                     p-value =    0.0004
2                  Cramer's V =    0.4245

Polaritätsprofil S4.1: leise/laut und Polaritätsprofil S4.1: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   21.2270
1                     p-value =    0.0472
2                  Cramer's V =    0.3493

Polaritätsprofil S4.2: leise/laut und Polaritätsprofil S4.2: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   27.0106
1                     p-value =    0.0414
2                  Cramer's V =    0.3412

Polaritätsprofil S4.2: leise/laut und Polaritätsprofil S4.2: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   38.0900
1                     p-value =    0.0015
2                  Cramer's V =    0.4052

Polaritätsprofil S4.2: leise/laut und Polaritätsprofil S4.2: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   55.8087
1                     p-value =    0.0000
2                  Cramer's V =    0.4905

Polaritätsprofil S4.2: leise/laut und Polaritätsprofil S4.2: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   36.1307
1                     p-value =    0.0028
2                  Cramer's V =    0.3946

Polaritätsprofil S5.2: leise/laut und Polaritätsprofil S5.2: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   69.6949
1                     p-value =    0.0000
2                  Cramer's V =    0.5481

Polaritätsprofil S5.2: leise/laut und Polaritätsprofil S5.2: gewagt/bodenständig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   28.8114
1                     p-value =    0.0252
2                  Cramer's V =    0.3524

Polaritätsprofil S5.2: leise/laut und Polaritätsprofil S5.2: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   63.3271
1                     p-value =    0.0000
2                  Cramer's V =    0.6033

Polaritätsprofil S5.2: leise/laut und Polaritätsprofil S5.2: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   83.8842
1                     p-value =    0.0000
2                  Cramer's V =    0.6013

Polaritätsprofil S6.1: leise/laut und Polaritätsprofil S6.1: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   70.6365
1                     p-value =    0.0000
2                  Cramer's V =    0.5518

Polaritätsprofil S6.2: leise/laut und Polaritätsprofil S6.2: ruhig/temperamentvoll

                Chi-square test  results
0  Pearson Chi-square ( 8.0) =   19.9203
1                    p-value =    0.0106
2                 Cramer's V =    0.4144

Polaritätsprofil S7.1: leise/laut und Polaritätsprofil S7.1: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   63.1130
1                     p-value =    0.0000
2                  Cramer's V =    0.6023

In [6]:
NewNames = [n.replace('/',' bis ') for n in Namen]

In [7]:
for x,z in zip(Res_Tabellen,NewNames):
    x.to_excel('./Tabellen/results/'+z+'.xlsx', sheet_name='Sheet_name_1')

<ipython-input-7-0631a7824188>:2: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.7' currently installed).
  x.to_excel('./Tabellen/results/'+z+'.xlsx', sheet_name='Sheet_name_1')

In [8]:
for x,z in zip(X_Tabellen,NewNames):
    x.to_excel('./Tabellen/crosstab/'+str(z)+'.xlsx', sheet_name='Sheet_name_1')

<ipython-input-8-eaaace8b6b58>:2: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.7' currently installed).
  x.to_excel('./Tabellen/crosstab/'+str(z)+'.xlsx', sheet_name='Sheet_name_1')