### Je höher die Bewertung von „hoch/laut/abwechslungsreich/“, desto höher die Bewertung von „gewagt/temperamentvoll/unsensibel/modern/unaufrichtig“
H8: Je höher die Bewertung von „tief/leise/monoton/“, desto höher die Bewertung von „bodenständig/ruhig/einfühlsam/traditionell/aufrichtig“m

# Cramer's V

In [1]:
import pandas as pd 
import os

import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
import scipy.stats as stats 

#import seaborn as sns
import researchpy as rp

/Users/lilimatic/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
path = 'data_perzeptionstest-vocal-branding_2024-02-10_11-56.csv'

df = pd.read_csv(path,sep=';',encoding='latin-1')

df =df.drop(columns=['CASE','SERIAL','REF','QUESTNNR','MODE','MAILSENT','LASTDATA','STARTED']+['TIME00'+str(x) for x in range(1,10)]+['TIME0'+str(x) for x in range(10,18)])

df = df.dropna()

spalten = []

for x in df.loc[0]:
    spalten.append(x)
    
#df.drop(df.index[0])

df.columns = spalten

df = df.reset_index()

df = df.drop(df.index[0])

In [3]:
sprecher = []

for x in range(1,8):
    for y in range(1,3):
        sprecher.append(f'S{x}.{y}')

In [39]:
os.getcwd()

'/Users/lilimatic/constanze/Tabellen'

In [27]:
Res_Tabellen = []
X_Tabellen = []
for s in sprecher:
    #print(f'Sprecher {s}')
    A1 = f'Polaritätsprofil {s}: leise/laut'
    B1 = [f'Polaritätsprofil {s}: aufrichtig/unaufrichtig',f'Polaritätsprofil {s}: modern/traditionell',
     f'Polaritätsprofil {s}: gewagt/bodenständig', f'Polaritätsprofil {s}: ruhig/temperamentvoll',f'Polaritätsprofil {s}: einfühlsam/unsensibel'] 
    for i in B1:
        crosstab, res = rp.crosstab(df[A1], df[i],test = "chi-square")
        name = './/'+A1 + ' und ' + i + '.xlsx'
        if (res['results'][1] - 0.05) < 1e-7:
            print('\033[1m' + A1+' und '+i)
            Namen.append(A1+' und '+i)
            display(res)
            display(crosstab)
            Res_Tabellen.append(res)
            X_Tabellen.append(crosstab)
            #display(crosstab)

Polaritätsprofil S2.1: leise/laut und Polaritätsprofil S2.1: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   35.5027
1                     p-value =    0.0034
2                  Cramer's V =    0.3912

                                           Polaritätsprofil S2.1: modern/traditionell  \
Polaritätsprofil S2.1: modern/traditionell                                          1
Polaritätsprofil S2.1: leise/laut
1                                                                                   2
2                                                                                   1
3                                                                                   2
4                                                                                   0
5                                                                                   0
All                                                                                 5


Polaritätsprofil S2.1: modern/traditionell   2   3   4  5 All
Polaritätsprofil S2.1: leise/laut
1                                            0   0   0  2   4
2                                            7   8   9  2  27
3                                            7   9   4  0  22
4                                            1   0   0  2   3
5                                            0   1   0  1   2
All                                         15  18  13  7  58

Polaritätsprofil S2.1: leise/laut und Polaritätsprofil S2.1: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   29.9921
1                     p-value =    0.0028
2                  Cramer's V =    0.4152

                                             Polaritätsprofil S2.1: einfühlsam/unsensibel  \
Polaritätsprofil S2.1: einfühlsam/unsensibel                                            1
Polaritätsprofil S2.1: leise/laut
1                                                                                       3
2                                                                                      10
3                                                                                       6
4                                                                                       0
5                                                                                       0
All                                                                                    19


Polaritätsprofil S2.1: einfühlsam/unsensibel   2  3  4 All
Polaritätsprofil S2.1: leise/laut
1                                              1  0  0   4
2                                             13  3  1  27
3                                             16  0  0  22
4                                              3  0  0   3
5                                              0  1  1   2
All                                           33  4  2  58

Polaritätsprofil S2.2: leise/laut und Polaritätsprofil S2.2: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   37.1576
1                     p-value =    0.0020
2                  Cramer's V =    0.4002

                                               Polaritätsprofil S2.2: aufrichtig/unaufrichtig  \
Polaritätsprofil S2.2: aufrichtig/unaufrichtig                                              1
Polaritätsprofil S2.2: leise/laut
1                                                                                           1
2                                                                                           0
3                                                                                           4
4                                                                                           4
5                                                                                           0
All                                                                                         9


Polaritätsprofil S2.2: aufrichtig/unaufrichtig   2   3   4  5 All
Polaritätsprofil S2.2: leise/laut
1                                                0   0   0  0   1
2                                                4   2   1  0   7
3                                               11   8   6  0  29
4                                                8   4   3  0  19
5                                                1   0   0  1   2
All                                             24  14  10  1  58

Polaritätsprofil S2.2: leise/laut und Polaritätsprofil S2.2: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   28.0966
1                     p-value =    0.0308
2                  Cramer's V =    0.3480

                                             Polaritätsprofil S2.2: ruhig/temperamentvoll  \
Polaritätsprofil S2.2: ruhig/temperamentvoll                                            1
Polaritätsprofil S2.2: leise/laut
1                                                                                       1
2                                                                                       1
3                                                                                       2
4                                                                                       1
5                                                                                       1
All                                                                                     6


Polaritätsprofil S2.2: ruhig/temperamentvoll   2   3   4  5 All
Polaritätsprofil S2.2: leise/laut
1                                              0   0   0  0   1
2                                              5   1   0  0   7
3                                             11   9   6  1  29
4                                              5   2  11  0  19
5                                              1   0   0  0   2
All                                           22  12  17  1  58

Polaritätsprofil S3.1: leise/laut und Polaritätsprofil S3.1: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   30.1457
1                     p-value =    0.0173
2                  Cramer's V =    0.3605

                                           Polaritätsprofil S3.1: modern/traditionell  \
Polaritätsprofil S3.1: modern/traditionell                                          1
Polaritätsprofil S3.1: leise/laut
1                                                                                   0
2                                                                                   1
3                                                                                   0
4                                                                                   0
5                                                                                   2
All                                                                                 3


Polaritätsprofil S3.1: modern/traditionell  2   3   4  5 All
Polaritätsprofil S3.1: leise/laut
1                                           0   1   2  1   4
2                                           3   8   5  4  21
3                                           3   8  11  2  24
4                                           1   1   3  1   6
5                                           0   0   1  0   3
All                                         7  18  22  8  58

Polaritätsprofil S3.1: leise/laut und Polaritätsprofil S3.1: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   29.9627
1                     p-value =    0.0182
2                  Cramer's V =    0.3594

                                             Polaritätsprofil S3.1: ruhig/temperamentvoll  \
Polaritätsprofil S3.1: ruhig/temperamentvoll                                            1
Polaritätsprofil S3.1: leise/laut
1                                                                                       3
2                                                                                       9
3                                                                                       8
4                                                                                       2
5                                                                                       1
All                                                                                    23


Polaritätsprofil S3.1: ruhig/temperamentvoll   2   3  4  5 All
Polaritätsprofil S3.1: leise/laut
1                                              0   1  0  0   4
2                                              9   3  0  0  21
3                                              8   6  2  0  24
4                                              2   1  1  0   6
5                                              0   0  1  1   3
All                                           19  11  4  1  58

Polaritätsprofil S3.2: leise/laut und Polaritätsprofil S3.2: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   44.2426
1                     p-value =    0.0002
2                  Cramer's V =    0.4367

                                               Polaritätsprofil S3.2: aufrichtig/unaufrichtig  \
Polaritätsprofil S3.2: aufrichtig/unaufrichtig                                              1
Polaritätsprofil S3.2: leise/laut
1                                                                                           0
2                                                                                           0
3                                                                                           0
4                                                                                           0
5                                                                                           1
All                                                                                         1


Polaritätsprofil S3.2: aufrichtig/unaufrichtig  2   3   4  5 All
Polaritätsprofil S3.2: leise/laut
1                                               0   0   0  1   1
2                                               1   2   5  2  10
3                                               2   8  14  2  26
4                                               4   7   7  1  19
5                                               0   0   0  1   2
All                                             7  17  26  7  58

Polaritätsprofil S3.2: leise/laut und Polaritätsprofil S3.2: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   45.9072
1                     p-value =    0.0001
2                  Cramer's V =    0.4448

                                           Polaritätsprofil S3.2: modern/traditionell  \
Polaritätsprofil S3.2: modern/traditionell                                          1
Polaritätsprofil S3.2: leise/laut
1                                                                                   0
2                                                                                   1
3                                                                                   0
4                                                                                   1
5                                                                                   1
All                                                                                 3


Polaritätsprofil S3.2: modern/traditionell   2   3   4  5 All
Polaritätsprofil S3.2: leise/laut
1                                            0   0   0  1   1
2                                            5   3   1  0  10
3                                            6  13   6  1  26
4                                            4   6   8  0  19
5                                            0   0   0  1   2
All                                         15  22  15  3  58

Polaritätsprofil S3.2: leise/laut und Polaritätsprofil S3.2: gewagt/bodenständig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   35.0321
1                     p-value =    0.0039
2                  Cramer's V =    0.3886

                                           Polaritätsprofil S3.2: gewagt/bodenständig  \
Polaritätsprofil S3.2: gewagt/bodenständig                                          1
Polaritätsprofil S3.2: leise/laut
1                                                                                   0
2                                                                                   1
3                                                                                   0
4                                                                                   0
5                                                                                   1
All                                                                                 2


Polaritätsprofil S3.2: gewagt/bodenständig   2   3   4  5 All
Polaritätsprofil S3.2: leise/laut
1                                            0   0   0  1   1
2                                            4   4   0  1  10
3                                            3  12   8  3  26
4                                            5   6   7  1  19
5                                            0   0   0  1   2
All                                         12  22  15  7  58

Polaritätsprofil S3.2: leise/laut und Polaritätsprofil S3.2: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   41.4257
1                     p-value =    0.0005
2                  Cramer's V =    0.4226

                                             Polaritätsprofil S3.2: ruhig/temperamentvoll  \
Polaritätsprofil S3.2: ruhig/temperamentvoll                                            1
Polaritätsprofil S3.2: leise/laut
1                                                                                       1
2                                                                                       1
3                                                                                       2
4                                                                                       1
5                                                                                       0
All                                                                                     5


Polaritätsprofil S3.2: ruhig/temperamentvoll   2   3   4  5 All
Polaritätsprofil S3.2: leise/laut
1                                              0   0   0  0   1
2                                              3   3   3  0  10
3                                              8  11   5  0  26
4                                              7   6   5  0  19
5                                              0   1   0  1   2
All                                           18  21  13  1  58

Polaritätsprofil S3.2: leise/laut und Polaritätsprofil S3.2: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   41.8025
1                     p-value =    0.0004
2                  Cramer's V =    0.4245

                                             Polaritätsprofil S3.2: einfühlsam/unsensibel  \
Polaritätsprofil S3.2: einfühlsam/unsensibel                                            1
Polaritätsprofil S3.2: leise/laut
1                                                                                       0
2                                                                                       0
3                                                                                       0
4                                                                                       0
5                                                                                       1
All                                                                                     1


Polaritätsprofil S3.2: einfühlsam/unsensibel  2   3   4  5 All
Polaritätsprofil S3.2: leise/laut
1                                             0   0   0  1   1
2                                             2   2   4  2  10
3                                             5   8  11  2  26
4                                             2   9   6  2  19
5                                             0   0   0  1   2
All                                           9  19  21  8  58

Polaritätsprofil S4.1: leise/laut und Polaritätsprofil S4.1: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   21.2270
1                     p-value =    0.0472
2                  Cramer's V =    0.3493

                                               Polaritätsprofil S4.1: aufrichtig/unaufrichtig  \
Polaritätsprofil S4.1: aufrichtig/unaufrichtig                                              1
Polaritätsprofil S4.1: leise/laut
1                                                                                           1
2                                                                                           2
3                                                                                           2
4                                                                                           0
All                                                                                         5


Polaritätsprofil S4.1: aufrichtig/unaufrichtig   2   3   4  5 All
Polaritätsprofil S4.1: leise/laut
1                                                1   0   0  3   5
2                                                6   4   6  4  22
3                                               10   6   8  1  27
4                                                1   3   0  0   4
All                                             18  13  14  8  58

Polaritätsprofil S4.2: leise/laut und Polaritätsprofil S4.2: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   27.0106
1                     p-value =    0.0414
2                  Cramer's V =    0.3412

                                               Polaritätsprofil S4.2: aufrichtig/unaufrichtig  \
Polaritätsprofil S4.2: aufrichtig/unaufrichtig                                              1
Polaritätsprofil S4.2: leise/laut
1                                                                                           1
2                                                                                           0
3                                                                                           1
4                                                                                           0
5                                                                                           0
All                                                                                         2


Polaritätsprofil S4.2: aufrichtig/unaufrichtig   2   3   4  5 All
Polaritätsprofil S4.2: leise/laut
1                                                0   0   0  1   2
2                                                0   1   0  0   1
3                                                8   8   5  2  24
4                                                6  11  10  1  28
5                                                0   1   1  1   3
All                                             14  21  16  5  58

Polaritätsprofil S4.2: leise/laut und Polaritätsprofil S4.2: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   38.0900
1                     p-value =    0.0015
2                  Cramer's V =    0.4052

                                           Polaritätsprofil S4.2: modern/traditionell  \
Polaritätsprofil S4.2: modern/traditionell                                          1
Polaritätsprofil S4.2: leise/laut
1                                                                                   1
2                                                                                   0
3                                                                                   1
4                                                                                   4
5                                                                                   1
All                                                                                 7


Polaritätsprofil S4.2: modern/traditionell   2   3  4  5 All
Polaritätsprofil S4.2: leise/laut
1                                            0   0  0  1   2
2                                            1   0  0  0   1
3                                           12   8  3  0  24
4                                           12   6  6  0  28
5                                            1   1  0  0   3
All                                         26  15  9  1  58

Polaritätsprofil S4.2: leise/laut und Polaritätsprofil S4.2: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   55.8087
1                     p-value =    0.0000
2                  Cramer's V =    0.4905

                                             Polaritätsprofil S4.2: ruhig/temperamentvoll  \
Polaritätsprofil S4.2: ruhig/temperamentvoll                                            1
Polaritätsprofil S4.2: leise/laut
1                                                                                       2
2                                                                                       0
3                                                                                       1
4                                                                                       0
5                                                                                       0
All                                                                                     3


Polaritätsprofil S4.2: ruhig/temperamentvoll  2  3   4  5 All
Polaritätsprofil S4.2: leise/laut
1                                             0  0   0  0   2
2                                             0  1   0  0   1
3                                             7  3  13  0  24
4                                             2  4  17  5  28
5                                             0  0   3  0   3
All                                           9  8  33  5  58

Polaritätsprofil S4.2: leise/laut und Polaritätsprofil S4.2: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   36.1307
1                     p-value =    0.0028
2                  Cramer's V =    0.3946

                                             Polaritätsprofil S4.2: einfühlsam/unsensibel  \
Polaritätsprofil S4.2: einfühlsam/unsensibel                                            1
Polaritätsprofil S4.2: leise/laut
1                                                                                       1
2                                                                                       0
3                                                                                       0
4                                                                                       1
5                                                                                       0
All                                                                                     2


Polaritätsprofil S4.2: einfühlsam/unsensibel   2   3   4  5 All
Polaritätsprofil S4.2: leise/laut
1                                              0   0   0  1   2
2                                              0   1   0  0   1
3                                              8   8   7  1  24
4                                              4  15   8  0  28
5                                              0   1   2  0   3
All                                           12  25  17  2  58

Polaritätsprofil S5.2: leise/laut und Polaritätsprofil S5.2: aufrichtig/unaufrichtig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   69.6949
1                     p-value =    0.0000
2                  Cramer's V =    0.5481

                                               Polaritätsprofil S5.2: aufrichtig/unaufrichtig  \
Polaritätsprofil S5.2: aufrichtig/unaufrichtig                                              1
Polaritätsprofil S5.2: leise/laut
1                                                                                           1
2                                                                                           0
3                                                                                           0
4                                                                                           0
5                                                                                           0
All                                                                                         1


Polaritätsprofil S5.2: aufrichtig/unaufrichtig  2   3   4   5 All
Polaritätsprofil S5.2: leise/laut
1                                               0   0   0   0   1
2                                               0   1   0   0   1
3                                               1   1   4   2   8
4                                               6  13   8   3  30
5                                               0   6   6   6  18
All                                             7  21  18  11  58

Polaritätsprofil S5.2: leise/laut und Polaritätsprofil S5.2: gewagt/bodenständig

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   28.8114
1                     p-value =    0.0252
2                  Cramer's V =    0.3524

                                           Polaritätsprofil S5.2: gewagt/bodenständig  \
Polaritätsprofil S5.2: gewagt/bodenständig                                          1
Polaritätsprofil S5.2: leise/laut
1                                                                                   0
2                                                                                   0
3                                                                                   1
4                                                                                   6
5                                                                                   7
All                                                                                14


Polaritätsprofil S5.2: gewagt/bodenständig   2  3  4  5 All
Polaritätsprofil S5.2: leise/laut
1                                            0  0  0  1   1
2                                            1  0  0  0   1
3                                            3  1  3  0   8
4                                           16  4  2  2  30
5                                            6  4  0  1  18
All                                         26  9  5  4  58

Polaritätsprofil S5.2: leise/laut und Polaritätsprofil S5.2: ruhig/temperamentvoll

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   63.3271
1                     p-value =    0.0000
2                  Cramer's V =    0.6033

                                             Polaritätsprofil S5.2: ruhig/temperamentvoll  \
Polaritätsprofil S5.2: ruhig/temperamentvoll                                            1
Polaritätsprofil S5.2: leise/laut
1                                                                                       1
2                                                                                       0
3                                                                                       0
4                                                                                       0
5                                                                                       0
All                                                                                     1


Polaritätsprofil S5.2: ruhig/temperamentvoll  3   4   5 All
Polaritätsprofil S5.2: leise/laut
1                                             0   0   0   1
2                                             0   1   0   1
3                                             1   5   2   8
4                                             0  17  13  30
5                                             1   8   9  18
All                                           2  31  24  58

Polaritätsprofil S5.2: leise/laut und Polaritätsprofil S5.2: einfühlsam/unsensibel

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   83.8842
1                     p-value =    0.0000
2                  Cramer's V =    0.6013

                                             Polaritätsprofil S5.2: einfühlsam/unsensibel  \
Polaritätsprofil S5.2: einfühlsam/unsensibel                                            1
Polaritätsprofil S5.2: leise/laut
1                                                                                       1
2                                                                                       0
3                                                                                       0
4                                                                                       0
5                                                                                       0
All                                                                                     1


Polaritätsprofil S5.2: einfühlsam/unsensibel  2   3   4   5 All
Polaritätsprofil S5.2: leise/laut
1                                             0   0   0   0   1
2                                             0   1   0   0   1
3                                             1   1   6   0   8
4                                             1   8  18   3  30
5                                             0   2   5  11  18
All                                           2  12  29  14  58

Polaritätsprofil S6.1: leise/laut und Polaritätsprofil S6.1: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   70.6365
1                     p-value =    0.0000
2                  Cramer's V =    0.5518

                                           Polaritätsprofil S6.1: modern/traditionell  \
Polaritätsprofil S6.1: modern/traditionell                                          1
Polaritätsprofil S6.1: leise/laut
1                                                                                   0
2                                                                                   0
3                                                                                   0
4                                                                                   0
5                                                                                   1
All                                                                                 1


Polaritätsprofil S6.1: modern/traditionell  2   3   4   5 All
Polaritätsprofil S6.1: leise/laut
1                                           1   0   2   3   6
2                                           0   7  10   7  24
3                                           1   6   8   8  23
4                                           0   0   4   0   4
5                                           0   0   0   0   1
All                                         2  13  24  18  58

Polaritätsprofil S6.2: leise/laut und Polaritätsprofil S6.2: ruhig/temperamentvoll

                Chi-square test  results
0  Pearson Chi-square ( 8.0) =   19.9203
1                    p-value =    0.0106
2                 Cramer's V =    0.4144

                                             Polaritätsprofil S6.2: ruhig/temperamentvoll  \
Polaritätsprofil S6.2: ruhig/temperamentvoll                                            1
Polaritätsprofil S6.2: leise/laut
3                                                                                       0
4                                                                                       1
5                                                                                       0
All                                                                                     1


Polaritätsprofil S6.2: ruhig/temperamentvoll  2  3   4   5 All
Polaritätsprofil S6.2: leise/laut
3                                             1  4   3   1   9
4                                             3  3  10   6  23
5                                             0  0  13  13  26
All                                           4  7  26  20  58

Polaritätsprofil S7.1: leise/laut und Polaritätsprofil S7.1: modern/traditionell

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   63.1130
1                     p-value =    0.0000
2                  Cramer's V =    0.6023

                                           Polaritätsprofil S7.1: modern/traditionell  \
Polaritätsprofil S7.1: modern/traditionell                                          1
Polaritätsprofil S7.1: leise/laut
1                                                                                   0
2                                                                                   0
3                                                                                   0
4                                                                                   0
5                                                                                   1
All                                                                                 1


Polaritätsprofil S7.1: modern/traditionell   3   4   5 All
Polaritätsprofil S7.1: leise/laut
1                                            0   1   6   7
2                                            4   9  11  24
3                                            5   7   9  21
4                                            1   1   3   5
5                                            0   0   0   1
All                                         10  18  29  58

In [28]:
for x,z in zip(Tabellen,range(len(Tabellen))):
    x.to_excel('./Tabellen/results/'+str(z)+'.xlsx', sheet_name='Sheet_name_1')

<ipython-input-28-4f3909e14ba7>:2: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.7' currently installed).
  x.to_excel('./Tabellen/results/'+str(z)+'.xlsx', sheet_name='Sheet_name_1')

In [33]:
import openpyxl